<div class="title-detail-info">
  <%= t "user.user_email" %>
</div>
<div class="detail-info">
  <%= user.email %>
</div>
<div class="title-detail-info">
  <%= t "user.user_phone" %>
</div>
<div class="detail-info">
  <%= user.phone_number %>
</div>
