$white-smoke: #f8f8f8;
$white: #fff;
$whisper: #e7e7e7;
$whisper-dark: #eee;
$curious-blue: #428bca;
$fern: #5cb85c;
$malibu: #5bc0de;
$casablanca: #f0ad4e;
$valencia: #d9534f;
$nobel: #999;
$night-rider: rgba(50, 50, 50, .5);
$gainsboro: #ddd;
$japanese-laurel: #3d8b3d;
$fire-brick: #b52b27;
$light-grey: #d4d4d4;
$timeline: rgba(0, 0, 0, .175);
$very-light-grey: #ccc;
$lochmara: #2e6da4;
$fruit-salad: #3f903f;
$gamboge: #df8a13;
$grey: rgb(233, 233, 233);
$black: #000;
$light-gray: rgb(211, 211, 211);
$blue-sky: #96d1e4;
$gray85: rgb(217, 217, 217);
$gray58: #949494;
$gray30: #333;
$gray83: #d4d4d4;
$green-leaf: rgb(38, 163, 134);
$red001: #d6041d;
$violet-light: #444b5d;
$red: #f00;
$selected: #f44c39;
$malibu: #56aee6;
