# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 3a5b2f0c4af8702b7fc83f11a37e2845821119c2d6c724974ba9382b4bd1d04f5956aed7a0a001bbdd12a6335d006a335e83f61d0d529e1205e934b4e68c0915

test:
  secret_key_base: 0361173569150b3b2e813ee129a91d1b5af26a2f2b2b08fea2a2fbcacae99b49c7e360238fce81cdb6c3d9ffc135423078a15c124623509ca099198f8ed8a1ff

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
