@import './colors';

.inline {
  margin-top: 20px;
}

.arrow {
  font-size: 30px;
  padding: 20px 20px 0 30px;
}

.row-table {
  border-top: 1px solid $gray-lighter;
  line-height: 28px;
  padding: 10px 0;
}

.list-seat {
  border: 4px solid $gray-lighter;
  border-radius: 25px;
  display: none;
  margin-top: 10px;
  padding: 0;

  .seat-padding {
    padding: 5px 0;
    text-align: center;

    >label {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 25px;
      padding-top: 10px;
      text-transform: uppercase;
    }
  }
}

.seat-type {
  margin-top: 15px;

  ul {
    list-style-type: none;
    padding: 0;

    li {
      display: inline;
      padding-right: 25px;
    }
  }
}

.tpye-seat {
  border-radius: 6px;
  display: inline-block;
  height: 18px;
  width: 25px;
}

.seat-wrap {
  background-color: $white;
  border: 1px solid $silver;
  margin-bottom: 10px;
  min-height: 84px;
  padding: 9px;
  position: relative;
  text-align: center;
  width: 400px;

  p {
    font-size: 12px;
    font-weight: 300;
    margin: 10px 0;
  }

  ul li {
    display: inline-block;
    list-style-type: none;

    &:hover {
      cursor: pointer;
    }
  }

  .selected {
    background-color: $red;
  }
}

.lower-new {
  font-size: 10px;
  font-weight: bold;
  left: 22px;
  line-height: 12px;
  position: absolute;
  text-align: left;
}

.dropdown-align {
  margin-left: 125px;
  margin-right: 35px;
}

.dropdown-menu ul {
  list-style-type: none;
  padding: 10px 0 0 10px;

  li {
    margin: 5px 0;
  }
}

.filter-tag {
  margin-bottom: 15px;

  .tag {
    margin-right: 5px;
  }

  span:hover {
    color: $red;
    cursor: pointer;
  }
}

.list-trip {
  list-style-type: none;
  padding: 0;

  li .glyphicon {
    font-size: 16px;
  }
}

.selected-seat {
  color: $red;
  margin-right: 5px;
}

.seat-inline2 {
  margin-top: 10px;
}

.seat-location {
  border: 1px solid $red;
  display: inline;
  height: 28px;
  list-style-type: none;
  margin: 3px 3px 0 0;
  width: 35px;
}

.seat-location-wc {
  border: 1px solid $red;
  display: inline;
  height: 28px;
  list-style-type: none;
  margin: 3px 3px 0 0;
  width: 35px;
}

.seat-location-booked {
  background: $black;
  border: 1px solid $red;
  display: inline;
  height: 28px;
  list-style-type: none;
  margin: 3px 3px 0 0;
  width: 35px;
}

.seat-location-blank {
  border: 1px solid $white;
  display: inline;
  height: 28px;
  list-style-type: none;
  margin: 3px 3px 0 0;
  width: 35px;
}

.bill ul {
  padding: 0;

  li {
    list-style-type: none;
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.date-span {
  background: none repeat scroll 0 0 $grey;
  color: $white;
  margin-right: 5px;
  padding: 2px 5px 2px 8px;

  :hover {
    color: $red;
  }
}

.right-arrow {
  color: $nobel;
}

.start-time,
.end-time {
  font-size: 14px;
  font-weight: bold;
}

.dask-line {
  border-bottom: 1px dashed;
  margin-top: 0;
}

.dask-line2 {
  border-bottom: 1px solid;
  margin-top: 0;
}

.total-time,
.route {
  color: $nobel;
  font-size: 12px;
}

.price {
  color: $red;
  font-size: 18px;
  font-weight: bold;
}

.detail-wrap {
  margin-top: 5px;
  padding: 5px 45px 5px 0;
}

.detail {
  border-top: 1px solid $silver;
  font-size: 17px;
  margin-top: 10px;
  padding: 5px 0;

  .row div {
    padding: 0;
  }
}

.detail2 {
  border-top: 1px solid $silver;
  margin-top: 10px;
  padding-top: 15px;
}

.continue-btn {
  background: $book-btn;
  border: 0;
  float: right;

  &:hover {
    background: $red;

    a {
      color: $white;
    }
  }

  a {
    color: $eclipse;

    &:hover {
      text-decoration: none;
    }
  }
}

.dropbtn {
  background-color: $fruit-salad;
  border: 0;
  color: $white;
  font-size: 16px;
  padding: 16px;
}

.dropdown {
  display: inline-block;
  position: relative;

  &:hover .dropbtn {
    background-color: $fruit-salad;
  }

  &:hover .dropdown-content {
    display: block;
  }
}

.dropdown-content {
  background-color: $white-smoke;
  box-shadow: 0 8px 16px 0 $black;
  display: none;
  margin-left: 0;
  min-width: 200px;
  position: absolute;
  z-index: 1;

  a {
    color: $black;
    display: block;
    padding: 12px 16px;
    text-decoration: none;

    &:hover {
      background-color: $gainsboro;
    }
  }
}

.filter ul li {
  float: left;
  line-height: 30px;
  padding: 8px;
  padding-right: 16px;
  width: auto;

  &:hover {
    cursor: pointer;
  }
}

.li-hover:hover {
  display: block;
}

.schedule-city {
  color: $night-rider;
  display: block;
  font-size: 18px;
  margin: 0;
}

.date-schedule {
  color: $gurkha;
  display: block;
  font-size: 14px;
}

button.book {
  background: $book-btn;

  &:hover {
    background: $red;
    color: $white;
  }
}

.bill-detail {
  margin-top: 50px;
}

