$grey: #777;
$white: #fff;
$whisper: #eaeaea;
$matterhorn: #555;
$silver: #bbb;
$nero: #222;
$red: #f00;
$gray-lighter: #d3d3d3;
$gray-medium-light: #eaeaea;
$gainsboro: #dedede;
$white-smoke: #f5f5f5;
$nobel: #989898;
$fruit-salad: #4caf50;
$black: #000;
$gainsboro: #ddd;
