@import './colors';

.shorter {
  margin-top: 30px;
  width: 940px;
}

.info-schedule {
  .from-to {
    display: inline-block;
    font-size: 40px;
    text-transform: uppercase;
    width: 100%;

    .city-span-left {
      text-align: right;
    }

    .city-span-right {
      text-align: left;
    }

    .icon-from-to {
      text-align: center;
    }
  }

  .info-date {
    text-align: center;
  }
}

.form-booking {
  margin-top: 30px;
}

/* select2 custom width */
.select-custom {
  width: 205px;
}

/* select2 custom height */
.select2-selection.select2-selection--single {
  height: 34px;
}

.icon {
  font-size: 20px;
  padding-top: 30px;
}

/* datepicker custom */
.search-schedule.input-group.date {
  width: 205px;
}

.error {
  color: $red;
}
