<nav class="header-blue" style="min-height:90px;">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul class="header-action-bar visible-sm visible-xs">
          <li><a href="#" class="menu-action"><i class="fa fa-bars"></i></a></li>
        </ul>
      </div>
      <div id="overlay-layout" style="position: fixed; width: 100%; height: 100%; background-color: #A6A6A6; opacity: 0.7; z-index: 99; margin-top: 7px; display: none;">
      </div>
      <div class="col-md-9 header-blue-right-menu pl0">
        <ul class="header-blue-menu-list">
          <li><%= link_to t("contact"), "#" %></li>
          <li><%= link_to t("guide"), "#" %></li>
          <li><%= link_to t("payment"), "#" %></li>
          <li><%= link_to t("home_page"), root_path %></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
